@model string
<div class="row justify-content-around">
    <a class="col-4 btn btn-dark" asp-route-id="@Model" asp-action="Update"><i class="bi bi-gear"></i> Edit </a>
    <a class="col-4 btn btn-danger" asp-route-id="@Model" asp-action="Delete"><i class="bi bi-trash"></i> Delete </a>
</div>
   
