@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4 text-bg-dark d-block p-3"><span class="text-black"> فلسـطـيـن حُـرة</span> <span>عـربيـة مـن الـنهـر</span> <span class="text-success">الـي البـحـر</span> </h1>
</div>
<div class="container text-center w-100 mt-5 h-100">
    <img id="loading" src="~/Files/Images/Palestine.gif" alt="Updating ..." />
</div>